button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  min-width: 88px;
  padding: 9px 20px !important;
}

// 弹出确认恇取消全局样式
// 对话恇取消全局样式
.el-message-box__headerbtn,
.el-dialog__headerbtn {
  min-width: 0;
  padding: 0 !important;
}

.el-message-box__message {
  min-height: 60px;
}

/* reset elementUI message */
.el-message {
  top: 20px !important;
}

.el-message:not(:last-child) {
  visibility: hidden;
}

.el-select {
  width: 100%;
}
