/* 统一引入陪配置 */
@import './media.scss'; // meadia引入
@import './variable.scss'; // 个性化引入
@import './el.scss';


// 按钮 输入框 输入域
button,
input,
textarea {
  outline: none;
  border: 0;
}

// 弹性布局
.displayfix {
  display: flex;
}

// 清除浮动
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

// 鼠标指针小手
.cursorfix {
  cursor: pointer;
}
