/* 统一引入陪配置 */
@import './media.scss'; // meadia引入
@import './variable.scss'; // 个性化引入
@import './el.scss';


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  min-width: 88px;
  padding: 9px 20px !important;
}

// 弹出确认恇取消全局样式
.el-message-box__headerbtn {
  min-width: 0;
  padding: 0 !important;
}

.el-message-box__message {
  min-height: 60px;
}

// 按钮 输入框 输入域
button,
input,
textarea {
  outline: none;
  border: 0;
}

// 弹性布局
.displayfix {
  display: flex;
}

// 清除浮动
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

// 鼠标指针小手
.cursorfix {
  cursor: pointer;
}
