/* 统一引入陪配置 */
@import './media.scss'; // meadia引入
@import './variable.scss'; // 个性化引入
@import './el.scss';


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}


button,
input,
textarea {
  outline: none;
  border: 0;
}


.d-flex {
  display: flex;
}

.c-p {
  cursor: pointer;
}
